 <!DOCTYPE html>
<html>
  <head>
    <title>BookmarksTwitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-2-3xl mx-auto">
        <nav class="justify-end md:flex pt-4">
          <%  if user_signed_in? %>
            <p class="px-4"><%= current_user.email %></p><br>
            <a class="underline px-4" href="/billing">Billing</a><br>
            <%=link_to "Log out", logout_path, method: :get, class:"underline px-4"%>
          <% end %>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
